.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #18e976; 
    border-color: #18e976; 
  }
  
  .custom-checkbox .ant-checkbox-checked::after {
    border-color: #fff; 
  }
  .custom-checkbox:hover .ant-checkbox-inner {
    border-color: #18e976 !important;
  }
  
 